Repository alexdelprete/ha-sinapsi-alfa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, yamllint, pymarkdown

ruff:
  name: ruff
  entry: ruff check --no-fix --verbose
  language: system
  verbose: true

ruff-format:
  name: ruff-format
  entry: ruff format --check --verbose
  language: system
  verbose: true

jsonlint:
  name: jsonlint
  entry: uvx --from demjson3 jsonlint -S
  language: system
  verbose: true

yamllint:
  name: yamllint
  entry: 'uvx yamllint -d "{extends: default, rules: {line-length: {max: 120}, document-start: disable, truthy: {check-keys: false}, comments: {min-spaces-from-content: 1}}}"'
  language: system
  verbose: true

pymarkdown:
  name: pymarkdown
  entry: pymarkdown scan
  language: system
  verbose: true

chore: sync from ha-integration-template (Python 3.14 rebase)
  .devcontainer.json
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .python-version
  Dockerfile.dev
  hacs.json
  pyproject.toml
  requirements-dev.txt
Due: jsonlint, yamllint

chore: sync devcontainer claude-code curl install from template
  .devcontainer.json
  Dockerfile.dev
Due: jsonlint

chore: sync devcontainer egg-info cleanup from template
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer egg-info sudo cleanup from template
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer extensions list from template
  .devcontainer.json
Due: jsonlint

chore: sync defensive system deps in Dockerfile.dev from template
  Dockerfile.dev
Due: none

chore: sync ty pre-commit hook fix from template
  .pre-commit-config.yaml
Due: yamllint

chore: sync Python 3.14+ baseline section from template
  CLAUDE.md
Due: pymarkdown

chore: sync `pre-commit` (drop uvx prefix) from template
  CLAUDE.md
  README.md
  docs/releases/README.md
Due: pymarkdown

docs: add CLAUDE.md editing-rules preamble + sync template warning blocks
  CLAUDE.md
Due: pymarkdown

chore: sync Dockerfile.dev pre-install of ruff + ty from template
  Dockerfile.dev
Due: none

fix: remove SHARED content wrongly duplicated by editing-rules preamble bug
  CLAUDE.md
Due: pymarkdown

style: ruff UP037 fix + format sensor.py
  custom_components/sinapsi_alfa/config_flow.py
  custom_components/sinapsi_alfa/sensor.py
Due: ruff, ruff-format

fix(config_flow): distinct error feedback for every connection-test outcome
  CHANGELOG.md
  custom_components/sinapsi_alfa/config_flow.py
  custom_components/sinapsi_alfa/quality_scale.yaml
  custom_components/sinapsi_alfa/translations/de.json
  custom_components/sinapsi_alfa/translations/en.json
  custom_components/sinapsi_alfa/translations/es.json
  custom_components/sinapsi_alfa/translations/et.json
  custom_components/sinapsi_alfa/translations/fi.json
  custom_components/sinapsi_alfa/translations/fr.json
  custom_components/sinapsi_alfa/translations/it.json
  custom_components/sinapsi_alfa/translations/nb.json
  custom_components/sinapsi_alfa/translations/pt.json
  custom_components/sinapsi_alfa/translations/sv.json
  docs/releases/v1.13.8.md
  tests/test_config_flow.py
Due: ruff, ruff-format, jsonlint, yamllint, pymarkdown

fix(api): gate calculated energy sensors on invalid production data
  CHANGELOG.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/sensor.py
  docs/releases/v1.13.8.md
  tests/test_api.py
  tests/test_sensor.py
Due: ruff, ruff-format, pymarkdown

chore(release): prepare v1.13.8
  CHANGELOG.md
  docs/releases/v1.13.8.md
Due: pymarkdown

chore: bump version to 1.13.9
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.9.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix(sensor): tolerate absent calculated keys during platform setup
  CHANGELOG.md
  custom_components/sinapsi_alfa/sensor.py
  docs/releases/v1.13.9.md
  tests/test_sensor.py
Due: ruff, ruff-format, pymarkdown

ci(lint): pin ruff to the devcontainer version
  .github/workflows/lint.yml
Due: yamllint

chore(release): prepare v1.13.9
  CHANGELOG.md
  docs/releases/v1.13.9.md
Due: pymarkdown

chore: bump version to 1.13.10
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.10.md
Due: ruff, ruff-format, jsonlint, pymarkdown

ci(lint): unpin ruff, exclude Markdown from formatting instead
  .github/workflows/lint.yml
  pyproject.toml
Due: yamllint

ci(release): fail early when VERSION extraction from const.py is empty
  .github/workflows/release.yml
Due: yamllint

ci(release): hardcode VERSION extraction pattern from repo-sync
  .github/workflows/release.yml
  .repo-sync.yaml
  CLAUDE.md
Due: yamllint, pymarkdown

sync: GoDoxy auto-discovery (<dev_alias>.code/.hass via agent), drop appPort
  .devcontainer.json
  .repo-sync.yaml
Due: jsonlint, yamllint

sync: GoDoxy auto-discovery labels via agent, drop appPort (dev_alias in .repo-sync.yaml)
  .devcontainer.json
Due: jsonlint

sync: explicit http scheme label for code-server port
  .devcontainer.json
Due: jsonlint

sync: single-arg security-opt
  .devcontainer.json
Due: jsonlint

sync: deterministic container name
  .devcontainer.json
Due: jsonlint

sync: distinct dashboard names per route
  .devcontainer.json
Due: jsonlint

sync: git-delta in devcontainer image
  Dockerfile.dev
Due: none

sync: setuptools package discovery moved into repo-sync marker zone
  pyproject.toml
Due: none

sync: dependabot ignores phacc until HA 2026.9 stable; restore 0.13.356 pin
  .github/dependabot.yml
Due: yamllint

ci: install pyproject dev extra so pyproject drift fails CI instead of breaking containers
  .github/workflows/test.yml
Due: yamllint

chore: bump phacc to 0.13.363 (HA 2026.9.0) and drop the dependabot ignore
  .github/dependabot.yml
  .github/workflows/test.yml
  pyproject.toml
Due: yamllint

chore: require HA 2026.8.0, add CONTRIBUTING.md, drop requirements-dev.txt
  .github/workflows/test.yml
  .repo-sync.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  hacs.json
  pyproject.toml
  requirements-dev.txt
Due: jsonlint, yamllint, pymarkdown

refactor: replace deprecated device_registry.async_get_device (removed in HA 2027.8)
  custom_components/sinapsi_alfa/__init__.py
  tests/test_init.py
Due: ruff, ruff-format

refactor(coordinator): use dt_util.utcnow() for update timestamps
  custom_components/sinapsi_alfa/coordinator.py
Due: ruff, ruff-format

chore(sync): pin pymarkdownlnt 0.9.39 in CI and pre-commit; drop the dead http: dev-config block
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .repo-sync.yaml
  CLAUDE.md
  CONTRIBUTING.md
  config/configuration.yaml
Due: yamllint, pymarkdown

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  jsonlint: any of: \.json$, but not: ^\.vscode/
  yamllint: any of: \.(yaml|yml)$
  pymarkdown: any of: \.(md|markdown|mdown)$
