Repository alexdelprete/ha-sinapsi-alfa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Uses locally installed tools (no isolated environments)
# Run: pre-commit install (first time setup)
# Run: pre-commit run --all-files (manual check)

repos:
  - repo: local
    hooks:
      # Ruff linting (check-only)
      - id: ruff
        name: ruff
        entry: ruff check --no-fix --verbose
        language: system
        types: [python]
        verbose: true

      # Ruff formatting (check-only)
      - id: ruff-format
        name: ruff-format
        entry: ruff format --check --verbose
        language: system
        types: [python]
        verbose: true

      # JSON validation
      - id: jsonlint
        name: jsonlint
        entry: uvx --from demjson3 jsonlint
        language: system
        types: [json]
        exclude: ^\.vscode/
        verbose: true

      # YAML validation
      - id: check-yaml
        name: check-yaml
        entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        types: [yaml]
        verbose: true

      # Markdown linting
      - id: pymarkdown
        name: pymarkdown
        entry: pymarkdown scan
        language: system
        types: [markdown]
        verbose: true

docs: Add pre-commit configuration to project guidelines
  CLAUDE.md
Due: pymarkdown

docs: Make pre-commit mandatory, remove individual tools option
  CLAUDE.md
Due: pymarkdown

chore: Add yamllint with inline config, update docs
  .pre-commit-config.yaml
  CLAUDE.md
Due: check-yaml, pymarkdown

chore: Add pre-commit hooks and fix all linting issues
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/dbautomerge.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  docs/analysis/modbuslink-migration-analysis.md
  docs/releases/README.md
  docs/releases/v0.4.2.md
  docs/releases/v0.5.0-beta.1.md
  docs/releases/v0.5.0.md
  docs/releases/v1.0.0-beta.3.md
  docs/releases/v1.0.0-beta.4.md
  docs/releases/v1.0.1.md
  docs/releases/v1.1.0.md
  docs/releases/v1.1.1.md
  docs/releases/v1.1.10.md
  docs/releases/v1.1.2.md
  docs/releases/v1.1.3.md
  docs/releases/v1.1.4.md
  docs/releases/v1.1.5.md
  docs/releases/v1.1.6.md
  docs/releases/v1.1.7.md
  docs/releases/v1.1.8.md
  docs/releases/v1.1.9.md
  docs/sunspec-maps/alfa-ha-modbus-configuration (original).yaml
  docs/sunspec-maps/alfa-ha-modbus-configuration.yaml
  docs/sunspec-maps/distacco.yaml
  pyproject.toml
Due: check-yaml, pymarkdown

fix(translations): Remove fix_flow sections to fix hassfest validation
  custom_components/sinapsi_alfa/translations/de.json
  custom_components/sinapsi_alfa/translations/en.json
  custom_components/sinapsi_alfa/translations/es.json
  custom_components/sinapsi_alfa/translations/et.json
  custom_components/sinapsi_alfa/translations/fi.json
  custom_components/sinapsi_alfa/translations/fr.json
  custom_components/sinapsi_alfa/translations/it.json
  custom_components/sinapsi_alfa/translations/nb.json
  custom_components/sinapsi_alfa/translations/pt.json
  custom_components/sinapsi_alfa/translations/sv.json
Due: jsonlint

docs: Add v1.2.2 release notes and update CHANGELOG
  CHANGELOG.md
  docs/releases/v1.2.2.md
Due: pymarkdown

chore: Bump version to 1.2.3 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.2.md
Due: ruff, ruff-format, jsonlint, pymarkdown

docs: Add critical testing directive - never modify production code for tests
  CLAUDE.md
Due: pymarkdown

docs: Make pre-commit checks mandatory before ANY commit
  CLAUDE.md
Due: pymarkdown

docs: Recommend running tests via CI only
  CLAUDE.md
Due: pymarkdown

docs: Add mandatory Release Readiness Checklist to release workflow
  CLAUDE.md
Due: pymarkdown

docs: Add mandatory download badge to release notes
  CLAUDE.md
  docs/releases/v1.2.2.md
Due: pymarkdown

docs: Add v1.2.3 release notes
  CHANGELOG.md
  docs/releases/v1.2.3.md
Due: pymarkdown

chore: Bump version to 1.2.4 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

docs: Improve Release Readiness Checklist format
  CLAUDE.md
Due: pymarkdown

docs: Add workflow run logs workaround using gh CLI
  CLAUDE.md
Due: pymarkdown

test: Improve test coverage from 87% to 95%+
  tests/test_coordinator.py
  tests/test_device_trigger.py
  tests/test_init.py
  tests/test_repairs.py
Due: ruff, ruff-format

fix(tests): Use patch.object for hass.bus and hass.services mocks
  tests/test_coordinator.py
  tests/test_device_trigger.py
Due: ruff, ruff-format

fix(tests): Use mock_hass fixture for bus/services mocking
  tests/conftest.py
  tests/test_coordinator.py
Due: ruff, ruff-format

fix(tests): Use kwargs for async_call assertions
  tests/test_coordinator.py
Due: ruff, ruff-format

ci(lint): Use demjson3 jsonlint for JSON validation
  .github/workflows/lint.yml
Due: check-yaml

fix(notifications): Use persistent_notification for recovery alerts
  CHANGELOG.md
  custom_components/sinapsi_alfa/repairs.py
  custom_components/sinapsi_alfa/translations/de.json
  custom_components/sinapsi_alfa/translations/en.json
  custom_components/sinapsi_alfa/translations/es.json
  custom_components/sinapsi_alfa/translations/et.json
  custom_components/sinapsi_alfa/translations/fi.json
  custom_components/sinapsi_alfa/translations/fr.json
  custom_components/sinapsi_alfa/translations/it.json
  custom_components/sinapsi_alfa/translations/nb.json
  custom_components/sinapsi_alfa/translations/pt.json
  custom_components/sinapsi_alfa/translations/sv.json
Due: ruff, ruff-format, jsonlint, pymarkdown

test(repairs): Update tests for persistent_notification
  CHANGELOG.md
  tests/test_repairs.py
Due: ruff, ruff-format, pymarkdown

test(repairs): Use patch.object for read-only ServiceRegistry mocks
  tests/test_repairs.py
Due: ruff, ruff-format

test(repairs): Use mock_hass fixture for recovery notification tests
  tests/test_repairs.py
Due: ruff, ruff-format

release: v1.2.4-beta.1 - Recovery notification improvements
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.4-beta.1.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix(tests): Enable full Home Assistant integration tests
  .github/workflows/test.yml
  requirements-dev.txt
  tests/conftest.py
  tests/test_config_flow.py
Due: ruff, ruff-format, check-yaml

fix(tests): Fix config_flow tests for options schema and duplicate detection
  tests/test_config_flow.py
Due: ruff, ruff-format

fix(tests): Remove problematic integration tests for duplicate detection and options
  tests/test_config_flow.py
Due: ruff, ruff-format

release: v1.2.4 - Recovery notifications and test infrastructure improvements
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.4.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: Bump version to 1.2.5 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

feat(config): Lower minimum polling interval from 30s to 10s
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  docs/releases/v1.2.5.md
Due: ruff, ruff-format, pymarkdown

chore: Bump version to 1.2.6 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

docs: Expand troubleshooting section with full debug log instructions
  README.md
Due: pymarkdown

docs: Correct scan_interval limitation explanation in v1.2.5 release notes
  docs/releases/v1.2.5.md
Due: pymarkdown

fix(config_flow): Handle empty recovery_script in options flow
  custom_components/sinapsi_alfa/config_flow.py
Due: ruff, ruff-format

test(config_flow): Update test to expect recovery_script in options data
  tests/test_config_flow.py
Due: ruff, ruff-format

docs: Add v1.2.6 release notes
  CHANGELOG.md
  docs/releases/v1.2.6.md
Due: pymarkdown

docs(CLAUDE): Require explicit CI workflow status in release checklist
  CLAUDE.md
Due: pymarkdown

chore: Bump version to 1.2.7 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint
