Repository alexdelprete/ha-sinapsi-alfa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, yamllint, pymarkdown

ruff:
  name: ruff
  entry: ruff check --no-fix --verbose
  language: system
  verbose: true

ruff-format:
  name: ruff-format
  entry: ruff format --check --verbose
  language: system
  verbose: true

jsonlint:
  name: jsonlint
  entry: uvx --from demjson3 jsonlint -S
  language: system
  verbose: true

yamllint:
  name: yamllint
  entry: 'uvx yamllint -d "{extends: default, rules: {line-length: {max: 120}, document-start: disable, truthy: {check-keys: false}, comments: {min-spaces-from-content: 1}}}"'
  language: system
  verbose: true

pymarkdown:
  name: pymarkdown
  entry: pymarkdown scan
  language: system
  verbose: true

feat: pass GH_TOKEN from host to devcontainer
  .devcontainer.json
Due: jsonlint

feat: mount .ssh, .claude, gh config into devcontainer
  .devcontainer.json
Due: jsonlint

fix: use pymarkdownlnt package for CI markdown linting
  .github/workflows/lint.yml
Due: yamllint

chore: upgrade pip before installing uv in devcontainer
  .devcontainer.json
Due: jsonlint

fix(api): preserve 1 W / 1 Wh precision on power and energy sensors
  CHANGELOG.md
  custom_components/sinapsi_alfa/api.py
  docs/releases/v1.13.1.md
  tests/test_api.py
Due: ruff, ruff-format, pymarkdown

chore(ci): rename sunspec-maps file to remove space from filename
  docs/sunspec-maps/alfa-ha-modbus-configuration-(original).yaml
Due: yamllint

chore(typing): parametrize DataUpdateCoordinator[bool] and CoordinatorEntity
  custom_components/sinapsi_alfa/coordinator.py
  custom_components/sinapsi_alfa/sensor.py
Due: ruff, ruff-format

test(api): add energy precision regression test
  tests/test_api.py
Due: ruff, ruff-format

chore: bump version to 1.13.2 for next release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.2.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix(sensor): show 3-decimal display precision for power sensors
  CHANGELOG.md
  custom_components/sinapsi_alfa/sensor.py
  docs/releases/v1.13.2.md
  tests/test_sensor.py
Due: ruff, ruff-format, pymarkdown

chore: bump version to 1.13.3 for next release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.3.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix(sensor): restore cumulative energy baseline across HA restart
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/sensor.py
  docs/releases/v1.13.3.md
  tests/test_sensor.py
Due: ruff, ruff-format, pymarkdown

docs: set v1.13.3 release date to 2026-05-21
  CHANGELOG.md
  docs/releases/v1.13.3.md
Due: pymarkdown

chore: bump version to 1.13.4 for next release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.4.md
Due: ruff, ruff-format, jsonlint, pymarkdown

feat(sensor): metadata-driven two-guard cold-restart protection
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/sensor.py
  docs/releases/v1.13.4.md
  tests/test_sensor.py
Due: ruff, ruff-format, pymarkdown

style(config_flow): simplify recovery_script ternary (FURB110)
  custom_components/sinapsi_alfa/config_flow.py
Due: ruff, ruff-format

docs: set v1.13.4 release date to 2026-05-21
  CHANGELOG.md
  docs/releases/v1.13.4.md
Due: pymarkdown

chore: bump version to 1.13.5 for next release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.5.md
Due: ruff, ruff-format, jsonlint, pymarkdown

feat(api): device warm-up gate to prevent energy doubling
  CHANGELOG.md
  README.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/coordinator.py
  custom_components/sinapsi_alfa/repairs.py
  custom_components/sinapsi_alfa/translations/de.json
  custom_components/sinapsi_alfa/translations/en.json
  custom_components/sinapsi_alfa/translations/es.json
  custom_components/sinapsi_alfa/translations/et.json
  custom_components/sinapsi_alfa/translations/fi.json
  custom_components/sinapsi_alfa/translations/fr.json
  custom_components/sinapsi_alfa/translations/it.json
  custom_components/sinapsi_alfa/translations/nb.json
  custom_components/sinapsi_alfa/translations/pt.json
  custom_components/sinapsi_alfa/translations/sv.json
  docs/releases/v1.13.5.md
  tests/test_api.py
  tests/test_coordinator.py
  tests/test_repairs.py
Due: ruff, ruff-format, jsonlint, pymarkdown

docs: forbid GitHub issue-closing keywords in commits and release notes
  CLAUDE.md
Due: pymarkdown

docs: set v1.13.5 release date to 2026-05-22
  CHANGELOG.md
  docs/releases/v1.13.5.md
Due: pymarkdown

chore: bump version to 1.13.6 for next release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.6.md
Due: ruff, ruff-format, jsonlint, pymarkdown

feat(api): warm-up gate resumes only when both registers are valid
  CHANGELOG.md
  custom_components/sinapsi_alfa/api.py
  docs/releases/v1.13.6.md
  tests/test_api.py
Due: ruff, ruff-format, pymarkdown

refactor(api): shared WARMUP_FASCIA_VALUE constant for explicit coupling
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
Due: ruff, ruff-format

docs: set v1.13.6 release date to 2026-05-22
  CHANGELOG.md
  docs/releases/v1.13.6.md
Due: pymarkdown

chore: bump version to 1.13.7 for next release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.7.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix(api): add timeout to wait_closed() in check_port() to prevent indefinite block
  custom_components/sinapsi_alfa/api.py
Due: ruff, ruff-format

fix: keep MEASUREMENT sensors available during device warm-up
  custom_components/sinapsi_alfa/__init__.py
  custom_components/sinapsi_alfa/coordinator.py
  custom_components/sinapsi_alfa/sensor.py
Due: ruff, ruff-format

fix(api): address review feedback on check_port wait_closed fix
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  tests/test_api.py
Due: ruff, ruff-format

test(api): fix ruff format and reduce wait_closed_hangs timeout to 100ms
  tests/test_api.py
Due: ruff, ruff-format

fix(api): add timeout to wait_closed() in check_port() to prevent indefinite hang on hard reset (#208)
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  tests/test_api.py
Due: ruff, ruff-format

test(api): cover OSError branch in check_port wait_closed cleanup
  tests/test_api.py
Due: ruff, ruff-format

docs: prepare release notes for v1.13.7
  CHANGELOG.md
  docs/releases/v1.13.7.md
Due: pymarkdown

chore: bump version to 1.13.8 for next release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.8.md
Due: ruff, ruff-format, jsonlint, pymarkdown

ci: drop ref override so fork PRs check out the merge commit
  .github/workflows/lint.yml
  .github/workflows/validate.yml
Due: yamllint

chore: gitignore devcontainer features lockfile
  .gitignore
Due: none

docs: sync FROZEN release guidance from ha-integration-template
  CLAUDE.md
Due: pymarkdown

docs: sync issue-closing-keyword guidance from template
  CLAUDE.md
Due: pymarkdown

test(config_flow): add schema-level regression for clearing recovery_script
  tests/test_config_flow.py
Due: ruff, ruff-format

chore: prep for Python 3.14 / HA 2026.3.0 baseline
  .repo-sync.yaml
  pyproject.toml
Due: yamllint

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  jsonlint: any of: \.json$, but not: ^\.vscode/
  yamllint: any of: \.(yaml|yml)$
  pymarkdown: any of: \.(md|markdown|mdown)$
