Repository alexdelprete/ha-sinapsi-alfa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Uses locally installed tools (no isolated environments)
# Run: pre-commit install (first time setup)
# Run: pre-commit run --all-files (manual check)

repos:
  - repo: local
    hooks:
      # Ruff linting (check-only)
      - id: ruff
        name: ruff
        entry: ruff check --no-fix --verbose
        language: system
        types: [python]
        verbose: true

      # Ruff formatting (check-only)
      - id: ruff-format
        name: ruff-format
        entry: ruff format --check --verbose
        language: system
        types: [python]
        verbose: true

      # JSON validation
      - id: jsonlint
        name: jsonlint
        entry: uvx --from demjson3 jsonlint
        language: system
        types: [json]
        exclude: ^\.vscode/
        verbose: true

      # YAML validation
      - id: check-yaml
        name: check-yaml
        entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        types: [yaml]
        verbose: true

      # Markdown linting
      - id: pymarkdown
        name: pymarkdown
        entry: pymarkdown scan
        language: system
        types: [markdown]
        verbose: true

Update funding information in FUNDING.yml
  .github/FUNDING.yml
Due: check-yaml

feat: Add Modbus integration conflict detection
  README.md
  custom_components/sinapsi_alfa/config_flow.py
  custom_components/sinapsi_alfa/coordinator.py
  custom_components/sinapsi_alfa/helpers.py
  custom_components/sinapsi_alfa/repairs.py
  custom_components/sinapsi_alfa/translations/de.json
  custom_components/sinapsi_alfa/translations/en.json
  custom_components/sinapsi_alfa/translations/es.json
  custom_components/sinapsi_alfa/translations/et.json
  custom_components/sinapsi_alfa/translations/fi.json
  custom_components/sinapsi_alfa/translations/fr.json
  custom_components/sinapsi_alfa/translations/it.json
  custom_components/sinapsi_alfa/translations/nb.json
  custom_components/sinapsi_alfa/translations/pt.json
  custom_components/sinapsi_alfa/translations/sv.json
Due: ruff, ruff-format, jsonlint, pymarkdown

docs(CLAUDE): Add CI workflow check and Release Readiness Report instructions
  CLAUDE.md
Due: pymarkdown

test: Add comprehensive tests for Modbus conflict detection
  .claude/mind.mv2
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_helpers.py
  tests/test_repairs.py
Due: ruff, ruff-format

docs(CLAUDE): Simplify CI workflow checks to use gh CLI
  CLAUDE.md
Due: pymarkdown

docs: Add v1.2.7 release notes and update CHANGELOG
  .claude/mind.mv2
  CHANGELOG.md
  README.md
  docs/releases/v1.2.7.md
Due: pymarkdown

chore: Bump version to 1.2.8 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

docs(README): simplify Modbus conflict resolution steps
  README.md
Due: pymarkdown

docs(CLAUDE): emphasize pre-commit and move RRR to release phase
  CLAUDE.md
Due: pymarkdown

fix(api): update ModbusLink imports for v1.4.x compatibility
  CLAUDE.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/manifest.json
  pyproject.toml
  requirements-dev.txt
  tests/test_api.py
Due: ruff, ruff-format, jsonlint, pymarkdown

docs: Add v1.2.8 release notes and update CHANGELOG
  CHANGELOG.md
  docs/releases/v1.2.8.md
Due: pymarkdown

chore: Bump version to 1.2.9 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

feat(logging): Add modbuslink version to startup message
  custom_components/sinapsi_alfa/const.py
Due: ruff, ruff-format

docs: Add v1.2.9 release notes and update CHANGELOG
  CHANGELOG.md
  docs/releases/v1.2.9.md
Due: pymarkdown

chore: Bump version to 1.2.10 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

feat(api): implement ModbusLink 1.4.2 flush() pattern for robust error recovery
  .claude/mind.mv2
  .claude/mind.mv2.backup-1769354895923
  .claude/mind.mv2.lock
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/manifest.json
  pyproject.toml
  requirements-dev.txt
  tests/test_api.py
Due: ruff, ruff-format, jsonlint

chore(deps): use compatible release specifier for modbuslink
  .claude/mind.mv2
  custom_components/sinapsi_alfa/manifest.json
  pyproject.toml
  requirements-dev.txt
Due: jsonlint

docs: Add v1.2.10 release notes and update CHANGELOG
  .claude/mind.mv2
  CHANGELOG.md
  docs/releases/v1.2.10.md
Due: pymarkdown

chore: Bump version to 1.2.11 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

docs(release): Add acknowledgment for ModbusLink developer
  docs/releases/v1.2.10.md
Due: pymarkdown

docs(release): Fix acknowledgments formatting
  docs/releases/v1.2.10.md
Due: pymarkdown

docs(release): Reformat acknowledgments as bullet list
  docs/releases/v1.2.10.md
Due: pymarkdown

fix: enable multiple device support (Fixes #195)
  README.md
  custom_components/sinapsi_alfa/manifest.json
  custom_components/sinapsi_alfa/quality_scale.yaml
Due: jsonlint, check-yaml, pymarkdown

chore: add .claude/ to gitignore
  .gitignore
Due: none

chore: remove .claude folder from repo
  .claude/mind.mv2
  .claude/mind.mv2.backup-1769354895923
  .claude/mind.mv2.lock
Due: none

fix: remove URLs from translation descriptions (Hassfest compliance)
  custom_components/sinapsi_alfa/translations/de.json
  custom_components/sinapsi_alfa/translations/en.json
  custom_components/sinapsi_alfa/translations/es.json
  custom_components/sinapsi_alfa/translations/et.json
  custom_components/sinapsi_alfa/translations/fi.json
  custom_components/sinapsi_alfa/translations/fr.json
  custom_components/sinapsi_alfa/translations/it.json
  custom_components/sinapsi_alfa/translations/nb.json
  custom_components/sinapsi_alfa/translations/pt.json
  custom_components/sinapsi_alfa/translations/sv.json
Due: jsonlint

docs(release): Add v1.2.11 release notes
  CHANGELOG.md
  docs/releases/v1.2.11.md
Due: pymarkdown

chore: Bump version to 1.2.12 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

chore: repo-sync integration and pre-commit cleanup
  .devcontainer.json
  .gitattributes
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
  .gitignore
  .repo-sync.yaml
  CLAUDE.md
  LICENSE
  README.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/coordinator.py
  docs/releases/README.md
  hacs.json
  pyproject.toml
  requirements-dev.txt
  tests/test_api.py
  tests/test_helpers.py
Due: ruff, ruff-format, jsonlint, check-yaml, pymarkdown

chore: sync templates - add -S to jsonlint for CI reliability
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
Due: check-yaml

fix: protect cumulative energy sensors from device reboot zeroed readings
  CHANGELOG.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  docs/releases/v1.2.12.md
  tests/test_api.py
Due: ruff, ruff-format, pymarkdown

chore: Bump version to 1.2.13 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

chore: bump requires-python to >=3.13.2 for HA 2026.x, sync marker timestamps
  CLAUDE.md
  README.md
  pyproject.toml
Due: pymarkdown

chore: sync CLAUDE.md shared best-practice sections, remove duplicate Git Workflow
  CLAUDE.md
Due: pymarkdown

fix: synchronize derived energy calculation to prevent oscillation over-counting
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  tests/test_api.py
Due: ruff, ruff-format

docs: add energy oscillation analysis and update CLAUDE.md
  CLAUDE.md
  docs/analysis/energy-oscillation-fix.md
Due: pymarkdown

fix(tests): use synthetic data in oscillation prevention test
  tests/test_api.py
Due: ruff, ruff-format

chore: prepare v1.2.13-beta.1 release
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.13-beta.1.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix: prevent idle polls from poisoning sync timeout counter
  custom_components/sinapsi_alfa/api.py
  docs/analysis/energy-oscillation-fix.md
  tests/test_api.py
Due: ruff, ruff-format, pymarkdown
