Repository alexdelprete/ha-sinapsi-alfa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, yamllint, pymarkdown

ruff:
  name: ruff
  entry: ruff check --no-fix --verbose
  language: system
  verbose: true

ruff-format:
  name: ruff-format
  entry: ruff format --check --verbose
  language: system
  verbose: true

jsonlint:
  name: jsonlint
  entry: uvx --from demjson3 jsonlint -S
  language: system
  verbose: true

yamllint:
  name: yamllint
  entry: 'uvx yamllint -d "{extends: default, rules: {line-length: {max: 120}, document-start: disable, truthy: {check-keys: false}, comments: {min-spaces-from-content: 1}}}"'
  language: system
  verbose: true

pymarkdown:
  name: pymarkdown
  entry: pymarkdown scan
  language: system
  verbose: true

chore(sync): pin ruff, ty and yamllint in CI and pre-commit hooks
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: yamllint, pymarkdown

chore(sync): pin ruff and ty in the dev extras; dependabot ignores them
  .github/dependabot.yml
  CLAUDE.md
  pyproject.toml
Due: yamllint, pymarkdown

chore(sync): hide the devcontainer's GoDoxy routes from the dashboard
  .devcontainer.json
Due: jsonlint

chore(sync): propagate ha-integration-template aca5a2aa3d75c4f214a7f033ac73fe099732b7d9
  .github/dependabot.yml
  CLAUDE.md
Due: yamllint, pymarkdown

chore(sync): propagate ha-integration-template aca5a2aa3d75c4f214a7f033ac73fe099732b7d9 (#222)
  .github/dependabot.yml
  CLAUDE.md
Due: yamllint, pymarkdown

chore(sync): propagate ha-integration-template 3f79c31118aabd3c296ffbc6378ec1ca97226fd2
  CLAUDE.md
Due: pymarkdown

chore(sync): propagate ha-integration-template 3f79c31118aabd3c296ffbc6378ec1ca97226fd2 (#223)
  CLAUDE.md
Due: pymarkdown

fix: remove deprecated via_device parameter from device registration
  CHANGELOG.md
  custom_components/sinapsi_alfa/__init__.py
  docs/releases/v1.13.10.md
  tests/test_init.py
Due: ruff, ruff-format, pymarkdown

chore(release): prepare v1.13.10
  CHANGELOG.md
  docs/releases/v1.13.10.md
Due: pymarkdown

chore: bump version to 1.13.11
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.11.md
Due: ruff, ruff-format, jsonlint, pymarkdown

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  jsonlint: any of: \.json$, but not: ^\.vscode/
  yamllint: any of: \.(yaml|yml)$
  pymarkdown: any of: \.(md|markdown|mdown)$
