Repository alexdelprete/ha-sinapsi-alfa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, jsonlint, yamllint, pymarkdown

ruff:
  name: ruff
  entry: ruff check --no-fix --verbose
  language: system
  verbose: true

ruff-format:
  name: ruff-format
  entry: ruff format --check --verbose
  language: system
  verbose: true

jsonlint:
  name: jsonlint
  entry: uvx --from demjson3 jsonlint -S
  language: system
  verbose: true

yamllint:
  name: yamllint
  entry: 'uvx yamllint -d "{extends: default, rules: {line-length: {max: 120}, document-start: disable, truthy: {check-keys: false}, comments: {min-spaces-from-content: 1}}}"'
  language: system
  verbose: true

pymarkdown:
  name: pymarkdown
  entry: pymarkdown scan
  language: system
  verbose: true

chore: prepare v1.2.13-beta.2 release
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.13-beta.2.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: Bump version to 1.2.13 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

fix: always recalculate energia_consumata outside sync guard
  custom_components/sinapsi_alfa/api.py
  docs/analysis/energy-oscillation-fix.md
  tests/test_api.py
Due: ruff, ruff-format, pymarkdown

chore: prepare v1.2.13-beta.3 release
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.13-beta.3.md
Due: ruff, ruff-format, jsonlint, pymarkdown

docs: generalize beta release notes for public audience
  docs/releases/v1.2.13-beta.1.md
  docs/releases/v1.2.13-beta.2.md
  docs/releases/v1.2.13-beta.3.md
Due: pymarkdown

feat(api): upgrade ModbusLink to 1.5.1 with connection_timeout support
  CLAUDE.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: prepare v1.2.13-beta.4 release
  CHANGELOG.md
  CLAUDE.md
  docs/releases/v1.2.13-beta.4.md
Due: pymarkdown

chore: Bump version to 1.2.14 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.13-beta.4.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: prepare v1.2.13-beta.4 release
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

fix(api): add quiescent reconciliation to sync guard
  custom_components/sinapsi_alfa/api.py
  docs/analysis/energy-oscillation-fix.md
  tests/test_api.py
Due: ruff, ruff-format, pymarkdown

chore: prepare v1.2.13-beta.5 release
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.13-beta.5.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix(sync): increase SYNC_TIMEOUT_POLLS from 2 to 3
  CLAUDE.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  docs/analysis/energy-oscillation-fix.md
Due: ruff, ruff-format, pymarkdown

chore: prepare v1.2.13-beta.6 release
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.13-beta.6.md
Due: ruff, ruff-format, jsonlint, pymarkdown

fix(sync): replace poll-count timeout with time-based timeout
  CLAUDE.md
  custom_components/sinapsi_alfa/api.py
  custom_components/sinapsi_alfa/const.py
  docs/analysis/energy-oscillation-fix.md
  tests/test_api.py
Due: ruff, ruff-format, pymarkdown

chore: prepare v1.2.13-beta.7 release
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.2.13-beta.7.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: prepare v1.13.0 release
  CHANGELOG.md
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
  docs/releases/v1.13.0.md
Due: ruff, ruff-format, jsonlint, pymarkdown

chore: Bump version to 1.13.1 for next development
  custom_components/sinapsi_alfa/const.py
  custom_components/sinapsi_alfa/manifest.json
Due: ruff, ruff-format, jsonlint

feat: add local brand assets for HA 2026.3 brands proxy API
  .gitattributes
  custom_components/sinapsi_alfa/brand/icon.png
  custom_components/sinapsi_alfa/brand/logo.png
Due: none

chore: relax modbuslink dev dependency to ~=1.5.0
  requirements-dev.txt
Due: none

chore: sync shared CLAUDE.md — add translations rule
  CLAUDE.md
Due: pymarkdown

fix: sync linting config — fix issue templates, add pymarkdownlint
  .pre-commit-config.yaml
  .pymarkdownlint.json
  .repo-sync.yaml
  pyproject.toml
  requirements-dev.txt
Due: jsonlint, yamllint

fix: fix all pre-commit lint errors across release notes and docs
  .pymarkdownlint.json
  CHANGELOG.md
  CLAUDE.md
  docs/analysis/modbuslink-migration-analysis.md
  docs/releases/v1.0.0-beta.1.md
  docs/releases/v1.0.0-beta.2.md
  docs/releases/v1.0.0-beta.4.md
  docs/releases/v1.0.0.md
  docs/releases/v1.0.1.md
  docs/releases/v1.1.0.md
  docs/releases/v1.1.1.md
  docs/releases/v1.1.2.md
  docs/releases/v1.1.3.md
  docs/releases/v1.1.4.md
  docs/releases/v1.1.5.md
  docs/releases/v1.1.6.md
  docs/releases/v1.1.7.md
  docs/releases/v1.1.8.md
  docs/releases/v1.1.9.md
Due: jsonlint, pymarkdown

chore: sync CI lint workflow — add yamllint and pymarkdown
  .github/workflows/lint.yml
Due: yamllint

chore: sync devcontainer — install dev deps and pre-commit hooks
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer — add gh CLI, Claude Code, best practices
  .devcontainer.json
Due: jsonlint

refactor: move coverage flags from pytest addopts to CI-only
  .devcontainer.json
  pyproject.toml
Due: jsonlint

fix: restore --no-cov in devcontainer pytest args as safety net
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer — add HA YAML tags and manifest schema
  .devcontainer.json
Due: jsonlint

chore: sync devcontainer — fix sudo for pip/uv install
  .devcontainer.json
Due: jsonlint

feat: add ty type checker to pre-commit config
  .pre-commit-config.yaml
Due: yamllint

fix: remove --verbose from ruff, unset VIRTUAL_ENV for ty
  .pre-commit-config.yaml
Due: yamllint

fix: add --python flag to ty for correct site-packages resolution
  .pre-commit-config.yaml
Due: yamllint

chore: simplify ty hook — remove env -u VIRTUAL_ENV
  .pre-commit-config.yaml
Due: yamllint

feat: auto-configure SSH commit signing in devcontainer
  .devcontainer.json
Due: jsonlint

feat: add allowed_signers setup to devcontainer postStartCommand
  .devcontainer.json
Due: jsonlint

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  jsonlint: any of: \.json$, but not: ^\.vscode/
  yamllint: any of: \.(yaml|yml)$
  pymarkdown: any of: \.(md|markdown|mdown)$
